<toaster-container></toaster-container>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <h2>Profile </h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.profile">Home</a>
            </li>
            <li class="active">
                <strong>Password </strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<fieldset>
    <div style="height:100px;"></div>
    <div class="row" ng-controller="updatePasswordCtrl">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-6">
            <h2>Change Password</h2>

            <div class="form-group">
                <label>Current Password</label>
                <input id="userName" ng-model="currentPassword" name="username" type="password"
                       class="form-control">
            </div>
            <div class="form-group">
                <label>New Password</label>
                <input id="password" ng-model="newPassword" name="password" type="password"
                       class="form-control">
                <label style="color:grey">password that is at least 8 characters long.</label>
            </div>
            <div class="form-group">
                <label>Confirm New Password </label>
                <input id="confirm" ng-model="confirmNewPassword" name="confirm" type="password"
                       class="form-control required">
            </div>
            <button class="btn btn-primary" id="submit" ng-click="changePassword()"
                    style="display:inline">Submit
            </button>
            <button class="btn btn-primary" id="submitSuccess" ng-click="changePassword()"
                    style="display:none">Submit<i class="fa fa-check"></i></button>
            <button class="btn btn-primary" id="submitSpinner" ng-click="changePassword()"
                    style="display:none">Submit<i class="fa fa-spinner"></i></button>
            <button class="btn btn-primary" id="submitError" ng-click="changePassword()"
                    style="display:none">Submit<i class="fa fa-times"></i></button>

            <a ui-sref="home.profile" class="btn btn-primary" style="margin-left:50px;">Back</a>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</fieldset>