<toaster-container></toaster-container>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <h2>Profile </h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.profile">Home</a>
            </li>
            <li class="active">
                <strong>Profile </strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="updateProfileCtrl">


    <div class="row m-b-lg m-t-lg">
        <div class="col-md-1"></div>
        <div class="col-md-6">

            <div class="profile-image">
                <div id="preview">
                    <img ng-src={{avatar}} class="img-circle circle-border m-b-md" alt="profile" onclick="uploadImage();">
                </div>
                <div class="profile-image">
                    <label id="file1" style="display:none">upload photo
                        <input type="file" name="file1" id="file1" onchange="previewImage(this)" style="display:none">
                    </label>
                </div>
            </div>

            <div class="profile-info">
                <div class="">
                    <div>
                        <input type="text" ng-model="nickname">
                        <h4></h4>
                        <textarea maxlength="255" type="text" id="description"
                                  style="max-height:100px; min-height:100px; height:100px; max-width:100%; min-width:50%; width:80%;"
                                  ng-model="description"></textarea><span>&nbsp;&nbsp;{{description.length + num}}/255</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <table class="table small m-b-xs">
                <tbody>
                <tr>
                    <td>
                        <strong>{{followedUserCount}}</strong> Followers
                    </td>

                </tr>
                <tr>
                    <td>
                        <strong>{{articleCount}}</strong> Articles
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>{{usd}}&nbsp;USD</strong> Commission
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label style="color:#c8cbca;font-size:16px;">Information</label>
            <HR width="100%" color="black" SIZE=10 style="border-color:grey"/>
            <div style=";font-size:14px;color:#727171">
                <p style="font-size:14px;color:#727171">Paypal Account</p>

                <div style="">
                    <input class="form-control" type="text" ng-model="paypal"
                           style="border-radius:3px;width:60%;">
                </div>
            </div>
            <div class="row-fluid;" style="margin-top:10px;">
                <p style="font-size:14px;color:#727171">Address</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-control" ng-model="vm.country"
                            ng-options="country.label as country.label for country in vm.countries">
                        <option value="">Select Country</option>
                    </select>
                </div>
            </div>
            <div class="row-fluid;" style="margin-top:10px;">
                <input class="form-control" type="text" ng-model="address" maxlength="255"
                       placeholder="Enter your detailed address"
                       style="border-radius:3px;width:60%;display:inline"> <span>{{address.length}}/255</span>
            </div>

            <div style="margin-top:15px;height:120px;background-color:;">
                <button class="btn btn-primary" id="submit" ng-click="updateProfile()"
                        style="display:inline">Update
                </button>
                <button class="btn btn-primary" id="submitSuccess" ng-click="updateProfile()"
                        style="display:none">Update<i class="fa fa-check"></i></button>
                <button class="btn btn-primary" id="submitSpinner" ng-click="updateProfile()"
                        style="display:none">Update<i class="fa fa-spinner"></i></button>
                <button class="btn btn-primary" id="submitError" ng-click="updateProfile()"
                        style="display:none">Update<i class="fa fa-times"></i></button>
                <a ui-sref="home.profile" class="btn btn-primary" style="margin-left:50px;">Back</a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>