<toaster-container></toaster-container>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <h2>填空题</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.profile">主页</a>
            </li>
            <li class="active">
                填空题
            </li>
            <li class="active">
                <strong>列表 </strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce"
     ng-controller="completionListAdminCtrl">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-content">

                    <table class="table">
                        <thead>
                        <tr>
                            <th data-toggle="true">内容</th>
                            <th data-toggle="true">答案</th>
                            <th data-toggle="true">上传时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div>
                            <tr ng-repeat="x in list">
                                <td>
                                    <a ng-click="turnToViewPage(x.id)">{{x.content}}</a>
                                </td>
                                <td>
                                    {{x.answer}}
                                </td>
                                <td>
                                    {{x.ctime | date:'yyyy-MM-dd HH:mm:ss'}}
                                </td>
                            </tr>
                        </div>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6">
                                <ul id="pagination" class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>

                    </table>

                </div>

            </div>
        </div>
    </div>
</div>
