<toaster-container></toaster-container>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <h2>Article Statistics</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.profile">Home</a>
            </li>
            <li class="active">
                Statistics
            </li>
            <li class="active">
                <strong>Article </strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce"
     ng-controller="listArticleController">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table class="table">
                        <thead>
                        <tr>
                            <th data-toggle="true">Image</th>
                            <th data-toggle="true">Title</th>
                            <!--<th data-toggle="true">Id</th>-->
                            <th data-toggle="true">Views</th>
                            <th data-toggle="true">Likes</th>
                            <th data-toggle="true">Saves</th>
                            <th data-toggle="true">Shares</th>
                            <th data-toggle="true" tooltip-placement="left"
                                tooltip="Click 'Buy' button in App">Buys?</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div>
                            <tr ng-repeat="x in list">
                                <td>
                                    <img ng-src="{{x.content.coverImage}}" width="30">
                                </td>
                                <td>
                                    <a ng-click="turnToStatsPage(x.id)">{{x.content.title}}</a>
                                </td>
                                <!--<td>-->
                                    <!--{{x.id}}-->
                                <!--</td>-->
                                <td>
                                    {{x.statsList[0].view}}
                                </td>
                                <td>
                                    {{x.statsList[0].like}}
                                </td>
                                <td>
                                    {{x.statsList[0].save}}
                                </td>
                                <td>
                                    {{x.statsList[0].share}}
                                </td>
                                <td>
                                    {{x.statsList[0].purchase}}
                                </td>
                            </tr>
                        </div>
                        </tbody>

                        <tfoot>
                        <tr>
                            <td colspan="12">
                                <ul id="pagination" class="pagination pull-right"></ul>

                            </td>
                        </tr>
                        </tfoot>


                    </table>

                </div>

            </div>
        </div>
    </div>


</div>
<input id="deleteSuccess" value="Delete Success!" style="display:none;"/>
<input id="deleteFail" value="Delete Failed!" style="display:none;"/>
<input id="confirmDelete" value="Are you sure to delete?" style="display:none;"/>
<input id="submitSuccess" value="Submit Success!" style="display:none;"/>
<input id="submitFail" value="Submit Fail!" style="display:none;"/>
<input id="confirmSubmit" value="Are you sure to submit?" style="display:none;"/>
<input id="isFirstPage" value="It is the first page!" style="display:none;"/>
<input id="isLastPage" value="It is last page!" style="display:none;"/>
<input id="pageName" value="articleStats" style="display:none;"/>
