<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>FAQ</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.profile">主页</a>
            </li>
            <li class="active">
                <strong>FAQ</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <!--<a href="" class="btn btn-primary btn-sm">Add question</a>-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight" style="padding-top:0px;padding-bottom:1px;">
            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a ng-click="faq4 = !faq4" ng-init="faq4 = true" class="faq-question">怎么组成试卷？</a>
                    </div>
                    <div class="col-md-3">
                        <span class="small font-bold"></span>
                    </div>
                    <div class="col-md-2 text-right">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div collapse="faq4" class="panel-collapse collapse">
                            <div class="faq-answer">
                                <p>
                                    1.上传试题，每种类型都上传试题。
                                    2.组合试卷，输入每种试题的个数，然后提交组成试卷。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight" style="padding-top:0px;padding-bottom:1px;">
            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a ng-click="faq1 = !faq1" ng-init="faq1 = true"class="faq-question">浏览器支持</a>
                    </div>
                    <div class="col-md-3">
                        <span class="small font-bold"></span>
                    </div>
                    <div class="col-md-2 text-right">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div collapse="faq1" class="panel-collapse collapse">
                            <div class="faq-answer">
                                <p>
                                    目前仅支持Chrome，Safiri浏览器。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>