<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>FAQ</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.profile">Home</a>
            </li>
            <li class="active">
                <strong>FAQ</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <!--<a href="" class="btn btn-primary btn-sm">Add question</a>-->
        </div>
    </div>
</div>

<!-- hide the commission rules on the FAQ page.-->

<!-- <div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight" style="padding-top:0px;padding-bottom:1px;">
            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a ng-click="faq2 = !faq2" ng-init="faq2 = true" class="faq-question">Commission Rules</a>
                    </div>
                    <div class="col-md-3">
                        <span class="small font-bold"></span>
                    </div>
                    <div class="col-md-2 text-right">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div collapse="faq2" class="panel-collapse collapse">
                            <div class="faq-answer">
                                <p>Commission will be daily settlement
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <td><img src="img/view-01.png" width="20">&nbsp;Views</td>
                                        <td>$0.001</td>
                                    </tr>
                                    <tr>
                                        <td><img src="img/like-01.png" width="20">&nbsp;Likes</td>
                                        <td>$0.001</td>
                                    </tr>
                                    <tr>
                                        <td><img src="img/save-01.png" width="20">&nbsp;Saves</td>
                                        <td>$0.001</td>
                                    </tr>
                                    <tr>
                                        <td><img src="img/share-01.png" width="20">&nbsp;Shares</td>
                                        <td>$0.002</td>
                                    </tr>
                                    <tr>
                                        <td><img src="img/purchase-01.png" width="20">&nbsp;Purchases</td>
                                        <td>$0.005</td>
                                    </tr>
                                    </tbody>
                                </table>
                                For your reference only, might be changed.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight" style="padding-top:0px;padding-bottom:1px;">
            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a ng-click="faq3 = !faq3" ng-init="faq3 = true" class="faq-question">How do I get commissions?</a>
                    </div>
                    <div class="col-md-3">
                        <span class="small font-bold"></span>
                    </div>
                    <div class="col-md-2 text-right">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div collapse="faq3" class="panel-collapse collapse">
                            <div class="faq-answer">
                                <p>
                                    MODE helps you earn money with the view and sales generated by your tagged photos.</br>
                                    How does it work?</br>
                                    After you tag a photo, if a person sees your tagged photos or purchases a product through your tagged photos, you get a commission from that view or sale.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight" style="padding-top:0px;padding-bottom:1px;">
            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a ng-click="faq4 = !faq4" ng-init="faq4 = true" class="faq-question">How to embed a tagged photo into your blog?</a>
                    </div>
                    <div class="col-md-3">
                        <span class="small font-bold"></span>
                    </div>
                    <div class="col-md-2 text-right">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div collapse="faq4" class="panel-collapse collapse">
                            <div class="faq-answer">
                                <p>
                                    1. Copy Code </br>
                                    In "Taggified Images" page, click embed the photo into yout
                                    blog button below the specific photo you want to embed.</br>
                                    <img src="img/howTo/stepByStep6.jpg" /></br>
                                    In the popup, click Copy To Clipboard. Then you have successfully copied the code of the tagged photo to clipboard.
                                    <img src="img/howTo/stepByStep7.jpg" /></br>
                                    2. Paste Code
                                    Go to your blog and create or edit an existing post.
                                    Select the edit mode:
                                    &nbsp;&nbsp;If you have Blogger: select the edit mode HTML.</br>
                                    <img src="img/howTo/stepByStep8.jpg" /></br>
                                    If you have Wordpress.org: select the edit mode Text.</br>
                                    3.Success!
                                    Now your blog readers can see your tagged photo. </br>Views and generated through tagged photos on your blog will also be counted and earn commission for you.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight" style="padding-top:0px;padding-bottom:1px;">
            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a ng-click="faq1 = !faq1" ng-init="faq1 = true"class="faq-question">Browser support</a>
                    </div>
                    <div class="col-md-3">
                        <span class="small font-bold"></span>
                    </div>
                    <div class="col-md-2 text-right">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div collapse="faq1" class="panel-collapse collapse">
                            <div class="faq-answer">
                                <p>
                                    We only support Safari and Chrome
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>