<div class="wrapper wrapper-content animated fadeInRight">
    <div class="inmodal">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1" >
                <div class="well">
                    <textarea id="shareScripts" ng-model="image.imageContainer" style="width:100%"></textarea>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1">
                <button type="button" class="btn btn-white" ng-click="close()">Close</button>
                <button class="btn btn-white" ngclipboard data-clipboard-target="#shareScripts">Copy To Clipboard</button>
            </div>
        </div>
    </div>
</div>