<fieldset ng-controller="writeArticleStepTwoCtrl" ng-if="hasImage">
    <div class="row">
        <div
                class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <slick class="slick_demo_2" infinite="false" slides-to-show="3" slides-to-scroll="1"
                   center-mode="false"
                   responsive="[
                   { breakpoint: 1024, settings: { slidesToShow: 3, slidesToScroll: 1, infinite: false } },
                   { breakpoint: 720, settiongs: { slidesToShow: 2, slidesToScroll: 1, infinite: false } },
                   { breakpoint: 600, settings: { slidesToShow: 2, slidesToScroll: 1 } },
                   { breakpoint: 480, settings: { slidesToShow: 1, slidesToScroll: 1 } } ]">

                <div ng-repeat="img in imageList">
                    <div>
                        <div class="ibox-content">
                            <img ng-src="{{img.src}}" width="100%" height="192px"
                                 ng-click="chooseImage(img, $index)">
                        </div>
                    </div>
                </div>
            </slick>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
            Tips: Click any position on the image to add points.
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="contentContainer"
                 style="position: relative;width: 100%;height: 100%; border: 1px #cacaca solid;overflow: hidden;background-color: #F2F2F2;cursor: crosshair;order-radius: 5px;">
                <img ng-src="{{currentChosenImage}}" width="100%" height="100%">
            </div>
            <div id="resultContainer"
                 style="position: relative;width: 100%;height: 600px;border: 1px black solid;overflow: hidden;background-color: #F2F2F2;display:none;border-radius: 5px;">
                <img ng-src="{{currentChosenImage}}" width="100%" height="100%">
            </div>
        </div>
    </div>
    <div style="margin-top:2%" class="m-t-md text-center">
        <button class="btn btn-primary" ng-click="goToStepThree()">Next</button>
    </div>
</fieldset>