<fieldset ng-controller="writeArticleStepOneCtrl" style="margin-top: 2%">
    <div class="row">
        <div
                class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <div class="ibox float-e-margin">
                <label>Cover Image *</label>
                <div class="ibox content">
                    <div class="m-b-md">
                        <input type="file" id="inputImage1" name="file" ng-model="file" multiple
                               accept="image/*" >
                    </div>
                    <img id="image1" src="" alt="Picture" class="cropper-hidden">
                </div>
                <div class="ibox content">
                    <div>
                        <div id="fileList" class="">
                        </div>
                    </div>
                    <div style="line-height:0.5;margin-top:2%">
                        <p style="font-size:10px">Suggested length-width ratio: 2:3</p>
                        <p style="font-size:10px">Suggested size 500kb</p>
                        <p style="font-size:10px">Supported Image format: jpg, png, gif</p>
                    </div>

                    <button class="btn btn-success" type="button"
                            ng-click="uploadCoverImage($event)">
                        <i class="fa fa-upload"></i>
                        <span>Upload</span>
                        <i class="fa fa-spinner fa-spin" style="display:none"></i>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label>Title *</label>
                <input id="articleTitle" ng-model="articleTitle.title" name="title" type="text"
                       class="form-control" maxlength="140">
                <span class="pull-right">{{articleTitle.title.length}}/140</span>
            </div>
            <div class="form-group">
                <label>Subtitle</label>
                <input id="articleSubtitle" ng-model="articleTitle.subtitle" name="subtitle"
                       type="text" class="form-control" maxlength="140">
                <span class="pull-right">{{articleTitle.subtitle.length}}/140</span>
            </div>

            <!-- Editor -->
            <div>
                <label>Content *</label>
                <textarea id="editor" placeholder="" autofocus style="margin-top:30px;"></textarea>
            </div>
            <div>
                <p>*Required image file size in the article is smaller than 1000KB</p>
                <p>*Images in the editor with dark mask mean that these images are uploading</p>
            </div>
        </div>
    </div>
    <div style="margin-top: 2%" class="m-t-md text-center">
        <button class="btn btn-primary" ng-click="goToStepTwo()">Next</button>
    </div>
</fieldset>
<script src="js/plugins/crop/cropper.min.js"></script>
<script src="js/plugins/crop/main.js"></script>
<div class="col-md-3" style="display:none">
    <div class="docs-data">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" id="dataX1" placeholder="x">
        </div>
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" id="dataY1" placeholder="y">
        </div>
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" id="dataWidth1" placeholder="width">
        </div>
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" id="dataHeight1" placeholder="height">
        </div>
    </div>
</div>