<div class="inmodal">
    <div class="modal-body">
        <div class="form-group">

            <div >
                <label>Input the number of USD you want to withdraw</label>
            </div>
            <div >
                <input type="text" placeholder="Enter a number" class="form-control"
                       style="width:60%;float:left" ng-model="usd" onkeyup="value=value.replace(/[^\d]/g,'')">
            </div>
        </div>

    </div>
    <div class="modal-footer" style="text-align:center">
        <button class="btn btn-primary" id="submit" ng-click="withdrawAction()"
                style="display:inline">Confirm
        </button>
        <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
    </div>
</div>