<toaster-container></toaster-container>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>单项选择</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.profile">主页</a>
            </li>
            <li class="active">
                <strong>单项选择</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="row" ng-controller="singleUploadCtrl">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content row">
                <div class="col-lg-1"></div>
                <div class="col-lg-8">
                	<h3>上传单项选择</h3>
                    <form method="get" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-8">
                                <p>内容:</p>
                                <textarea type="text" class="form-control required" ng-model="content" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <p>A:</p>
                                <textarea type="text" class="form-control required" ng-model="a" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <p>B:</p>
                                <textarea type="text" class="form-control required" ng-model="b" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <p>C:</p>
                                <textarea type="text" class="form-control required" ng-model="c" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <p>D:</p>
                                <textarea type="text" class="form-control required" ng-model="d" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <p>答案:</p>
                                <textarea type="text" class="form-control required" ng-model="answer" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <p>知识点:</p>
                                <select ng-model="knowledgeChoose" ng-options="knowledge.knowledge for knowledge in knowledges">
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group" style="height:30px;"> </div>
                    </form>
                </div>
                <div class="col-lg-3"></div>
            </div>
            <div class="ibox-content row">
                <div class="form-group" style="height:50px;">  </div>
                <div style="text-align:center">
                    <button class="btn btn-primary" id="submit" ng-click="singleUpload()" style="display:inline">提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
