<toaster-container></toaster-container>
<div ng-controller="CartController">
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>
                    This is your item cart.Items selected will be show up here.And you can select
                    multiple items and submit them.Then Mode Team will evaluate them.
                </p>
            </div>

            <div ng-repeat="item in items">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content no-padding border-left-right">
                            <div >
                                <img ng-src="{{item.image}}" class="img-responsive" style="width:
                                 100%; height: 350px">
                            </div>
                        </div>
                        <div class="ibox-content profile-content">
                            <p>Size: {{item.size}}</p>
                            <p>Color: {{item.color}}</p>
                            <div class="user-button">
                                <button type="button" class="btn btn-info btn-large btn-block"
                                        ng-click="selectItemToSubmit($event, item)">
                                    Select
                                </button>
                                <button type="button" class="btn btn-danger btn-sm btn-block"
                                        ng-click="deleteItem(item)" >
                                    Remove
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination pull-right" id="pagination"></div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <h2>Cart</h2>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="title-action" >
                    <button class="btn btn-primary btn-large" ng-click="showModel()">Place
                        An Order</button>
                </div>
            </div>
        </div>
    </div>
    <div class="inmodal" id="model" style="display:none;position: fixed;top: 5%;left: 30%;width:
    40%;height: 100%;
         z-index:1001;-moz-opacity: 0.8;opacity:1;">
        <div class="modal-body">
            <div class="form-group">

                <div >
                    <label>Receiver's Name:</label>
                </div>
                <div >
                    <input type="text"  class="form-control" style="width:60%;" ng-model="profile.name" >
                </div>

            </div>
            <div class="form-group">

                <div >
                    <label>Shipping Country:</label>
                </div>
                <div >
                    <input type="text"  class="form-control" style="width:60%;" ng-model="profile.country" >
                </div>

            </div>

            <div class="form-group">

                <div >
                    <label>Shipping State:</label>
                </div>
                <div >
                    <input type="text"  class="form-control" style="width:60%;" ng-model="profile.state" >
                </div>

            </div>

            <div class="form-group">

                <div >
                    <label>Shipping Address:</label>
                </div>
                <div >
                    <input type="text"  class="form-control" style="width:60%;" ng-model="profile.address" >
                </div>

            </div>

            <div class="form-group">

                <div >
                    <label>Zipcode:</label>
                </div>
                <div >
                    <input type="text"  class="form-control" style="width:60%;"
                           ng-model="profile.zipcode" >
                </div>

            </div>

            <div class="form-group">

                <div >
                    <label>Phone Number:</label>
                </div>
                <div >
                    <input type="text"  class="form-control" style="width:60%;" ng-model="profile.phone" >
                </div>

            </div>
        </div>
        <div class="modal-body" style="text-align:center" style="">
            <p> * Please input all the delivery information!</p>
            <button class="btn btn-primary" id="submit" ng-click="submitItems()"
                    style="display:inline">Submit
            </button>
            <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>