<toaster-container></toaster-container>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Orders</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ListOrderController">
    <!-- Order list table -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table class="footable table table-stripped toggle-arrow-tiny"
                           data-page-size="10" id="orderTable">
                        <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Order Time</th>
                            <th>Modified Time</th>
                            <th>Order Status</th>
                            <th>Track Number</th>
                            <th>Remark</th>
                            <th>Order Detail</th>
                        </tr>
                        </thead>
                        <tbody id="order_tbody">
                        <tr ng-repeat="order in list">
                            <td>{{ order.stylistOrder.id }}</td>
                            <td>{{ order.stylistOrder.ctime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>{{ order.stylistOrder.utime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>
                                    <span class="label label-primary" ng-if="order.stylistOrder.status == 1">
                                        On Process
                                    </span><span class="label label-success"
                                                 ng-if="order.stylistOrder.status == 3">
                                        Approved
                                    </span>
                                    <span class="label label-success"
                                          ng-if="order.stylistOrder.status == 4">
                                        Sent
                                    </span>
                                    <span class="label label-danger" ng-if="order.stylistOrder.status == 2">
                                        Rejected
                                    </span>
                            </td>
                            <td>{{ order.stylistOrder.trackNumber }}</td>
                            <td>
                                {{ order.stylistOrder.comment }}
                            </td>
                            <td>
                                {{ order.stylistOrder.detail }}
                            </td>
                        </tr>
                        </tbody>
                        <tfoot class="hide-if-no-paging">
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right" id="pagination"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>