<toaster-container></toaster-container>
<div ng-controller="ListStylistItemsController">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <h2>Yours</h2>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>
                    Mode team will mail these items showing in this page to you.
                </p>
            </div>

            <div ng-repeat="item in items">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content no-padding border-left-right">
                            <div>
                                <img ng-src="{{item.image}}" class="img-responsive" style="width:
                                 100%; height: 350px">
                            </div>
                        </div>
                        <div class="ibox-content profile-content">
                            <p>Size: {{item.size}}</p>
                            <p>Color: {{item.color}}</p>
                            <p>Short Link:</p>
                            <textarea id="{{'mode' + item.id}}" ng-model="item.shortLink"
                                      style="width:100%" readonly></textarea>
                            <div class="user-button">
                                <button type="button" class="btn btn-white btn-sm btn-block"
                                        ngclipboard
                                        data-clipboard-target="#{{'mode' + item.id}}">Copy To
                                    Clipboard
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <ul class="pagination pull-right" id="pagination"></ul>
                </div>
            </div>

        </div>
    </div>
</div>